$bad_bg: #F0A8A8;
$bad_border: #900;
$good_bg: #A4E7A0;
$good_border: #26722D;

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation, #error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    margin-left: 10px;
    font-size: 12px;
    list-style: square;
  }
}


.notice, .success { 
  background-color: $good_bg; 
  border: 1px solid $good_border;
  a { 
    border: 1px solid #26722D; color: #26722D; 
  }
}

.error, .alert { 
  background-color: $bad_bg;
  border: 1px solid $bad_border;
  a { 
    border: 1px solid #900; color: #900; 
  }
}

.notice, .success, .error, .alert { 
  width: 95%; padding: 5px; 
  p {
    margin-left: 20px; margin: 0 auto 10px auto; padding: 0;
  }
  a {
    text-decoration: none; 
    &:hover { 
      color: #333; border: 1px solid #333; 
    }
  }
}


